* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    color: #000;
}

/* 한글 사용 폰트 */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 영어 사용 폰트 */
@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
        format('woff2'),
      url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }