
/* 배경 */
body {
    background-color: #a3a3a3;
    background-image: url(../img/main_visual_bg\ copy-1.jpg);
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  /*노란색 틀*/
  .bookcover {
    background-color: rgb(252, 199, 102);
    border-radius: 9px;
    border: 1px solid #738186;
    width: 1200px;
    height: 750px;
    margin: 50px auto;
    position: relative;
  }
  /*흰색 선*/
  .bookdot {
    border-radius: 9px;
    border: 2px dashed #ffffff;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  /*안쪽 회색배경*/
  .page {
    background-color: #eeeeee;
    border-radius: 9px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    padding: 15px;
  }
  /*프로필 (왼쪽) 박스*/
  .profile-container {
    flex: 0.4;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  /*미니룸 (중앙) 박스*/
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  /*메뉴바 (오른쪽) 박스*/
  .menu-container {
    flex: 0.15;
  }
  /* 링 누끼 */
  .ring-1 img{
    width: 75px;
    height: 80px;
  }
  .ring-1{
    position: absolute;
    top:19%;
    left: 23%;
  }
  .ring-2 img{
    width: 75px;
    height: 80px;
  }
  .ring-2{
    position: absolute;
    top:25%;
    left: 23%;
  }
  .ring-3 img{
    width: 75px;
    height: 80px;
  }
  .ring-3{
    position: absolute;
    bottom:25%;
    left: 23%;
  }
  .ring-4 img{
    width: 75px;
    height: 80px;
  }
  .ring-4{
    position: absolute;
    bottom: 19%;
    left: 23%;
  }
  .header {
    flex: 0.1;
  }
  
  /* 안에 큰 회색 박스 */
  .box {
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
  }
  
  /* 위시월드 로고있는곳 */
  .content-title {
    display: flex;
    align-items: center;
  }
  
  .content-title-name {
    flex: 1;
    padding-bottom: 5px;
  }
  
  /* 프로필 투데이 토탈 */
  .profile-title {
    padding-bottom: 5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:5px;
    color: rgb(75, 75, 75);
  }
  .color-orange {
    color: orange
  }
  
  /* 프로필 박스 */
  .profile-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  /* 프로필 이미지 */
  .profile-image {
    flex: none;
  }
  
  .profile-image-img {
    width: 100%;
    height: 100%;
  }
  /* 프로필 밑 점선 */
  .border1{
    border-bottom: 1px dashed #ddd;
    padding-top: 10px;
  }
  /* 프로필 아래 텍스트 */
  .profile-text {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    line-height:3;
    flex: 1;
    font-size: 14px;
    font-family: 'Interop';
  }
  
  /*프로필 이름 아래*/
  .profile-use{
    flex: 0;
  }
  .profile-use span{
    font-size: 18px;
    font-weight: bold;
    color: #003399;
  }
  .profile-use p{
    color: orange;
    font-size: 12px;
  }
  .border2{
    border-top: 1px dashed #ddd;
    padding-bottom: 5px;
  }
  .content-box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;
  }
  

  /*메뉴바*/
  .menu-button button{
    width: 80px;
    height: 50px;
    text-align: left;
    margin-bottom: 0.9rem;
    font-size: 0.9rem;
    font-family: 'Interop';
    padding: 0.4rem;
    background-color: rgb(252, 187, 89);
    color:#000;
    border-radius: 0 5px 5px 0;
    border: 1px solid grey;
    cursor: pointer;
  }

  /* 메뉴바 위치 */
  .menu-button:first-child{
    margin-top: 3rem;
  }

  /* 메뉴바 호버 */
  a button:hover {
    background-color:#fff;
    color:  rgb(252, 187, 89);
  }

  /* 프로필 파도타기 */
  .profile-dropdown{
    flex: 0;
    border: 1px solid #c9d4da;
    padding: 5px;
    margin-top: 10px;
    font-size: 0.8rem;
    position: relative;
  }
  /* 인스타그램 아래 태그 숨기기 */
  .dropdown-content{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  /* 인스타 마우스 호버하면 보이게 */
  .profile-dropdown:hover > .dropdown-content{
    display: block;
  }

  .dropdown-content > a{
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
  }

  .dropdown-content > a:hover{
    background-color: #f1f1f1;
  }


  /* 미니룸 박스 */
  .miniroom-gif-box {
    border: 1px solid #d6d6d6;
    width:680px;
    height:280px;
  }
  /* 미니룸 사진 */
  .miniroom-gif-box img{
    width:680px;
    height:280px;
  }
  /* 미니룸 글자 */
  .box-title ul{
    display: flex;
    justify-content: space-between;
  }
  .box-title li:last-child{
    color:#6e6e6e;
    font-size: 10px;
  }
  .box-title {
    font-size: 12px;
    font-family: "KOTRA_BOLD-Bold";
    color: #268ab8;
    padding-bottom: 5px;
  }
  /* 프렌드 세이 박스 */
  .say ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .say-font{
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-family: 'Interop';
    font-weight: bolder;
    color: #6e6e6e;
  }
  .say-box1{
    width: 75%;
    height: 26px;
    border: 1px solid #ddd;
    font-size: 12px;
    font-family: 'IBMPlexSansKR-Regular';
    text-align: center;
    line-height: 25px;
    box-sizing: border-box;
  }
  .say-box2{
    border: 1px solid #ddd;
    font-size: 12px;
    font-family: 'IBMPlexSansKR-Regular';
    width:8%;
    text-align: center;
    height: 24px;
    line-height: 24px;
  }
  /* 친구들 생각*/
  .friend{
    font-size: 12.5px;
    line-height: 28px;
    border-bottom: 1px solid #ddd;
  }
  .color-blue{
    color: #003399;
    font-weight: bold;
  }
  .color-gray{
    color:#738186;
    font-size: 11px;
  }
/* 스킬 */
#big-box{
    position: relative;
}
.box-skill{
    position: absolute;
    flex: 1;
    margin-left: 100rem;
    display: flex;
    flex-direction: column;
    top: 0px;
    width:250px;
    height:330px;
    background-color: #fff;
    border: 1px solid #444444;
}
.box-skill ul{
    display: flex;
    width:250px;
}
.box-skill h1{
    font-size: 25px;
    background-color: #fffbe7;
    height:50px;
    width:250px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #444444;
    color: #666666;
}
.box-skill li{
    width:100px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding-left: 3px;
}
/* 스킬 막대기 */
.graph{
    width:160px;
    height:22px;
    background-color:#ddd;
    margin: 12px;
}
.graph div{
    height:100%;
    text-align:center;
    line-height:40px;
}
.stick-pink{
    width:70%;
    background-color: pink;}
.stick-blue{
    width:65%;
    background-color:rgb(109, 158, 250)}
.stick-yellow{
    width:55%;
    background-color:rgb(255, 224, 140)}
.stick-red{
    width:80%;
    background-color:rgb(250, 148, 148)}
.stick-green{
    width:75%;
    background-color:rgb(98, 209, 113)}
.stick-purple{
    width:70%;
    background-color:rgb(134, 76, 134)}

/* 음악 박스 */
.play{
    width:250px;
    height: 80px;
    background-color: #ddd;
    margin-top: 15px;
    border: 1px solid #444444;
    position: absolute;
    margin-left: 100rem;
    top:320px;
}
.play-mu{
    width: 250px;
    height: 38px;
    background-color: #fff;
    border-bottom: 1px solid #444444;
    text-align: center;
    font-size: 17px;
    line-height: 38px;
    color:#363636;
}
/* 음악 아이콘 */
.play ul{
    display: flex;
}
.play ul li i{
    font-size: 16px;
    padding: 5px;
    margin-top: 8px;
}
.play li{
    height: 20px;
    text-align: center;
    line-height: 25px;
}
.graph-1{
    width:200px;
    height:8px;
    background-color:#494949;
    margin-top: 16px;
}
.graph-1 div{
    height:100%;
    text-align:center;
    line-height:40px;
}
.stick-box{
    width:55%;
    background-color:orange;}
.play li:last-child{
    background-color: #494949;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    margin: 6px 5px;
    height: 25px;
    width: 100px;
}
